*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding-top: 3rem;
    background-color: rgb(20, 20, 20);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 2rem;

}

.conteudo__imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo__botao{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao{
    width: 100px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    
}

.light__on{
    background-color: rgb(201, 201, 3);
    transition: all 0.25s ease-in-out;
    width: 100px;
    margin-right: 1rem;

}

.light__off{
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    transition: all 0.25s ease-in-out;
    width: 100px;
}